a {
   outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

object, embed { 
  outline: 0;
}

body {
    padding-bottom: 40px;
}

.navbar-push{
    margin-top: 60px;
}

/* colors */
.lite{
    color:#f6f6f6;
}


#flash-messages {
    list-style-type: none;
    padding:0px;
    margin:0px;
}

#flash-messages li{ 
    list-style-type: none;
}

button.btn {
    height: 16.3pt;
    overflow: hidden;
    padding-top: 0;
    vertical-align: middle !important;
}


.pointer{
    cursor:pointer;
}

.width20px {
    width:20px;
}

.width40px{    
     width: 40px;
}

.height10px {
    height:10px;
}

.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


/**
* chat widget
*/
.chat-wrapper {
    margin: auto;
    border: 1px solid #E5E5E5;
    background: #F6F6F6;
    font-weight:bold;
    font-size : 12px;
    border-collapse:collapse;
}

.chat-result {
    margin:10px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    text-align:left;    
    font-weight:bold;
    font-size : 11px;
    padding:2px;
    height:150px;
    overflow:auto;
}

.chat-result i {
    font: 34px/31px "Lucida Sans Unicode","Lucida Grande","Arial Unicode MS",sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}

.chat-send {
    margin-top: -9px;
}

.chat-key-enter {
    margin:10px;
}

.chat-msg {
    width:85%;    
}

/* tools */
.tools{
    
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin: 0px 0px 2px 0px;
    list-style-type: none;
    
}

.tools .tools-header {
    background-color: #f6f6f6;
    padding: 3px;
    display: block;
    margin: 0px;
    font-weight: bold;
    color: #333;
}

.tools a{
    
    background-color: #fff;

    display: block;
    text-decoration: none;
    padding: 3px;
}

.tools a:hover{
    
    background-color: #0088CC;
    color: #FFF;
    
}



