a {
   outline: 0;
   cursor: pointer;
}

a:hover, a:active, a:focus {
  outline: 0;
}

object, embed { 
  outline: 0;
}

body {
    padding-bottom: 40px;
}

.errors {
   color: red;  
}

.container-push{
   display: block;
   height:  50px;
   }

.navbar-push{
    margin-top: 60px;
}

/* colors */
.lite{
    color:#f6f6f6;
}


.btn-group{
   margin-bottom: 5px;
}

#flash-messages {
    list-style-type: none;
    padding:0px;
    margin:0px;
}

#flash-messages li{ 
    list-style-type: none;
}

button.btn {
    height: 16.3pt;
    overflow: hidden;
    padding-top: 0;
    vertical-align: middle !important;
}

.no-bullet {
   list-style: none;
}

.textarea-standard-size {
   
   height: 81px;
   width: 500px;
   
}

.

.small-txt {
   
   font-size: 80%;
   
}

.pointer{
    cursor:pointer;
}

.width20px {
    width:20px;
}

.width40px{    
     width: 40px;
}

.width50px{
    
   width: 50px; 
}

.width60px{
    
   width: 60px; 
}

.width70px{
    
   width: 70px; 
}


.height10px {
    height:10px;
}

.rounded-corners {
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
}


.ico{
   width:14px;
   height: 14px;
   display: inline-block;
}

.thumb {
   
   width:50px;
}
.ok {
   background-color:green;
}

.fail {   
   background-color:red;
}


/**
* chat widget
*/
.chat-wrapper {
    margin: auto;
    border: 1px solid #E5E5E5;
    background: #F6F6F6;
    font-weight:bold;
    font-size : 12px;
    border-collapse:collapse;
}

.chat-result {
    margin:10px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    text-align:left;    
    font-weight:bold;
    font-size : 11px;
    padding:2px;
    height:150px;
    overflow:auto;
}

.chat-result i {
    font: 34px/31px "Lucida Sans Unicode","Lucida Grande","Arial Unicode MS",sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}

.chat-send {
    margin-top: -9px;
}

.chat-key-enter {
    margin:10px;
}

.chat-msg {
    width:85%;    
}

/* tools */
.tools{
    
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 2px;
    list-style-type: none;
    
}

.tools li, .tools p{
    
    margin: 0px 0px 0px 2px;
    
}


.tools .tools-header {
    background-color: #f6f6f6;
    padding: 3px;
    display: block;
    margin: 0px;
    font-weight: bold;
    color: #333;
}

.tools a{
    
    background-color: #fff;

    display: block;
    text-decoration: none;
    padding: 3px;
}

.tools a:hover{
    
    background-color: #0088CC;
    color: #FFF;
    
}


/* .module */
.module{
    
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 2px;
    list-style-type: none;
    
}

.module li, .module p{
    margin: 0px 0px 0px 2px;
}


.module .module-header {
    background-color: #f6f6f6;
    padding: 3px;
    display: block;
    margin: 0px;
    font-weight: bold;
    color: #333;
}

.module a.bright{
    background-color: #fff;
    display: block;
    text-decoration: none;
    padding: 3px;
}

.module a.bright:hover{
    background-color: #0088CC;
    color: #FFF;
}


/* calendar */
.event-on-calendar {
   border: 1px inset #50C3CA;
   font-weight: bold;
   color: #0044CC;
}


/* padding */
.pos-rel {
   position: absolute;
}

.pos-abs {
   position: absolute;
}

.pos-top{
   top:0px;
}

.pos-bottom {
   bottom:0px;
}

.pos-right {
   right: 0px;
   
}

.no-pad{
   
   padding: 0px;
}

.pad-5px{
   
   padding: 5px;
}

.pad-10px{
   
   padding: 10px;
}


/* margin */
.no-margin {
   
   margin: 0px;
}

.margin-right-10{
   
   margin-right: 10px;
}

.margin-right-20{
   
   margin-right: 20px;
}

.margin-bottom-10 {
   margin-bottom: 10px;
}

.margin-10px{
   margin: 10px;
}

.clear{
    clear: both;
   }

.neg-margin-top-10{
   margin-top: -10px;
}

.max-height-450px {
   max-height:450px;   
}
   
.overflow-auto {
   overflow: auto;
}


.highlight-child {
   
}

.highlight-child:hover {
   background-color: #FFFFB7!important;
}

.highlight{
   
   background-color: #FFFF00!important;
   border-bottom: 1px dotted #999;
}


.hidden{
   display: none;
}

.modal { overflow: visible; }
.modal-body { overflow-y: auto; max-height:450px; }

#achieved-element{ margin-bottom: 10px;}
